---
import { NavBarMenu } from "@/components/navbar-menu";
import Layout from "../layouts/Layout.astro";
import StudioLogo from "@/components/studio-logo.astro";
---

<Layout title="Administrador">
  <div class="flex flex-1 flex-col w-full bg-stone-100 h-[100vh] p-4">
    <nav class="flex items-center gap-6 justify-between">
      <StudioLogo />
    </nav>

    <h1 class="text-4xl font-bold text-center">Em Construção</h1>
  </div>
</Layout>
