---
import { PresentationScreen } from "@/components/presentation";
import Layout from "@/layouts/Layout.astro";

const data = Astro.locals;
---

<Layout title="Carregando...">
  <a href="/" id="link">
    <PresentationScreen user={data.user} />
  </a>
</Layout>

<script>
  const link = document.getElementById("link");

  setTimeout(() => {
    link?.click();
  }, 2000);
</script>
