---
import UILayout from "@/components/UILayout.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
import { Scene } from "@/components/Scene";
import { CanvasBoard } from "@/components/CanvasBoard";
import { CanvasControlsMenu } from "@/components/canvas-controls/menu";
import { CanvasLevaLayers} from '@/components/canvas-controls/canvas-leva-layers';
import { MenuText } from "@/components/canvas-controls/menu-text";
import type { Children } from "react";
import { UploadedImagesContainer } from "@/components/UploadedImagesContainer";
---

<Layout title="Welcome to Astro.">
  <main class="bg-stone-950 align-center py-6 px-4 gap-6 flex">
    <UILayout>
      <div slot="tee">
        <Scene client:load />
      </div>
      <div slot="canvas">
        <CanvasBoard client:load />
      </div>
      <div slot="leva">
        <CanvasLevaLayers client:load />
      </div>
      <div slot="controls" class="h-full">
        <CanvasControlsMenu client:load />
      </div>
    </UILayout>
  </main>
</Layout>
