---
import UILayout from "@/components/UILayout.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
import { Scene } from "@/components/Scene";
import { CanvasControls } from "@/components/CanvasControls";
import { CanvasLayerControls } from "@/components/CanvasLayerControls";
import { CanvasBoard } from "@/components/CanvasBoard";
import { MenubarLabel } from "@/components/ui/menubar";
---

<Layout title="Welcome to Astro.">
  <main class="bg-stone-950 align-center py-6 px-4 gap-6 flex">
    <UILayout>
      <div slot="tee">
        <Scene client:load />
      </div>
      <div slot="canvas">
        <CanvasBoard client:load />
      </div>
      <div slot="leva">
        <CanvasLayerControls client:load />
      </div>
      <div slot="controls">
        <CanvasControls client:load />
      </div>
    </UILayout>
  </main>
</Layout>
