---
import UILayout from "@/components/ui-layout.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
import { Scene } from "@/components/scene";
import { CanvasBoard } from "@/components/canvas-board";
import { CanvasControlsMenu } from "@/components/canvas-controls/menu";
import { CanvasLevaLayers } from "@/components/canvas-controls/canvas-leva-layers";
---

<Layout title="Studio Estampar Vectee.">
  <main class="bg-stone-950 align-center py-6 px-4 gap-6 flex h-[100vh]">
    <UILayout>
      <div slot="tee">
        <Scene client:load />
      </div>
      <div slot="canvas">
        <CanvasBoard client:load />
      </div>
      <div slot="leva">
        <CanvasLevaLayers client:load />
      </div>
      <div slot="controls" class="h-full">
        <CanvasControlsMenu client:load />
      </div>
    </UILayout>
  </main>
</Layout>
