---
import { Button } from "@/components/ui/button";
import { Scene } from "../components/Scene";
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
import Controls from "@/components/Controls.astro";
---

<Layout title="Welcome to Astro.">
  <main class="h-[100vh] bg-stone-800 relative">
    <Scene client:load />
    <Controls />
  </main>
</Layout>
