---
import UILayout from "@/components/ui-layout.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
import { Scene } from "@/components/scene";
import { CanvasBoard } from "@/components/canvas-board";
import { CanvasControlsMenu } from "@/components/canvas-controls/menu";
import { CanvasLayer } from "@/components/canvas-controls/canvas-layer";
import { ThreeColors } from "@/components/three-controls/colors";
---
<Layout title="Studio Estampar Vectee.">
  <UILayout>
    <div slot="tee" class="h-full">
      <Scene client:load />
    </div>
    <div slot="colors">
      <ThreeColors client:load />
    </div>
    <div slot="canvas">
      <CanvasBoard client:load />
    </div>
    <div slot="layer">
      <CanvasLayer client:load />
    </div>
    <div slot="controls" class="h-full">
      <CanvasControlsMenu client:load />
    </div>
  </UILayout>
</Layout>
