---
import { ControlsMenuBar } from "./ControlsMenuBar";
---

<div class="absolute top-0 p-6">
  <div class="grid  gap-6">
    <!-- <h2 class="text-stone-200 text-2xl">Studio Estampar</h2> -->
    <ControlsMenuBar client:load />
  </div>
</div>
