---
interface Props {
  left?: boolean;
}

const { left } = Astro.props;
---

<div
  class=`flex items-center gap-4 dark:text-stone-200 cursor-pointer`
  id="studiologo"
>
  <img src="./studio.svg" alt="Studio Logo" width="50px" height="50px" />
  <div class=`flex flex-col w-full ${left ? '' : ''}`>
    <h2 class="font-black text-xl uppercase -tracking-wide leading-7">
      Canvas
    </h2>
    <span class=`uppercase ${left ? 'text-md' : 'text-xs'}`
      >Studio Estampar</span
    >
  </div>
</div>

<script>
  document.getElementById("studiologo")?.addEventListener("click", () => {
    window.location.href = "/";
  });
</script>
