---
import StudioLogo from "./studio-logo.astro";
import { Button } from "./ui/button";
import { ShirtIcon, BrushIcon } from "lucide-react";
import { Toaster } from "./ui/toaster";
import Base from "@/layouts/Base.astro";
---

<Toaster client:load />
<div class="absolute bottom-0 flex gap-2 w-full pt-5 z-30 md:hidden p-2">
  <Button className="flex w-full gap-2" variant="default" id="teeButton">
    <ShirtIcon size="20" />
    Camiseta
  </Button>
  <Button className="flex gap-2 w-full" variant="default" id="canvasButton">
    <BrushIcon size="20" />
    Canvas
  </Button>
</div>

<Base>
  <div slot="content">
    <div class="absolute bottom-12 md:bottom-5 z-40" id="tee">
      <slot name="colors" />
    </div>
    <section
      class="h-full w-full flex justify-center md:grid md:grid-cols-2 gap-2 rounded-lg"
    >
      <div id="tee">
        <slot name="tee" />
      </div>
      <div class="relative hidden md:block w-full h-full" id="canvas">
        <div>
          <slot name="canvas" />
          <slot name="controls" />
        </div>

        <div class="absolute right-12 top-12">
          <slot name="layer" />
        </div>
      </div>
    </section>
  </div>
</Base>

<script>
  const teeButton = document.getElementById("teeButton");
  const canvasButton = document.getElementById("canvasButton");
  const tee = document.querySelectorAll("#tee");
  const canvas = document.getElementById("canvas");

  teeButton?.addEventListener("click", () => {
    tee?.forEach((tee: any) => tee.classList.remove("hidden"));
    canvas?.classList.add("hidden");
  });

  canvasButton?.addEventListener("click", () => {
    tee?.forEach((tee: any) => tee.classList.add("hidden"));
    canvas?.classList.remove("hidden");
  });
</script>
