---
import { Toaster } from "./ui/toaster";
import Base from "@/layouts/Base.astro";
---

<Toaster client:load />

<div
  class="md:hidden grid place-items-center h-[100vh] mx-auto text-center max-w-80"
>
  <h2>
    Nosso canvas ainda está em construção, portanto a versão para celular está
    desativada na versão beta.
  </h2>
</div>
<div class="hidden md:block max-w-screen-2xl mx-auto">
  <Base>
    <div
      slot="content"
      class="grid grid-cols-2 items-center overflow-hidden h-full w-full"
    >
      <div class="flex h-full items-center w-full">
        <div class="self-end mb-10">
          <slot name="colors" />
        </div>
        <div class="h-full w-full">
          <slot name="tee" />
        </div>
      </div>
      <div class="w-full h-full self-center flex flex-col relative">
        <div>
          <slot name="canvas" />
        </div>
        <div class="absolute bottom-6 w-full">
          <slot name="controls" />
        </div>
        <div class="absolute right-0 top-0">
          <slot name="layer" />
        </div>
      </div>
    </div>
  </Base>
</div>
