---
import Base from "@/layouts/Base.astro";
---

<div class="grid max-w-screen-2xl mx-auto">
  <Base>
    <div slot="content" class="grid lg:grid-cols-2 items-center h-full w-full">
      <div class="flex h-full items-center w-full">
        <div class="self-end mb-10">
          <slot name="colors" />
        </div>
        <div class="h-full w-full">
          <slot name="tee" />
        </div>
      </div>
      <div class="w-full h-full self-center flex flex-col relative">
        <div>
          <slot name="canvas" />
        </div>
        <div class="absolute bottom-6 w-full">
          <slot name="controls" />
        </div>
        <div class="absolute right-0 top-0">
          <slot name="layer" />
        </div>
      </div>
    </div>
  </Base>
</div>
