---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "@fontsource/fira-mono";
import "@fontsource/dm-serif-text";
import "@fontsource/anton";
import "../styles/globals.css";
import { ViewTransitions } from "astro:transitions";
import StudioLogo from "@/components/studio-logo.astro";
import { NavBarMenu } from "@/components/navbar-menu";
import type { UserRecord } from "firebase-admin/auth";

interface Props {
  user?: UserRecord;
}

const { user } = Astro.props;

const { pathname } = Astro.url;
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/studio.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="bg-stone-100 dark:bg-stone-800">
    <nav class="flex items-center justify-between p-4 pb-0 m-0 h-12">
      {
        pathname !== "/logar" && pathname !== "/apresentacao" && (
          <div class="contents">
            <StudioLogo />
            <NavBarMenu client:load user={user} />
          </div>
        )
      }
    </nav>
    <slot />
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background-size: 224px;
      }
    </style>
  </body>
</html>
